@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
:root {
  --color1: whitesmoke;
  --color2: rgb(57, 2, 208);
}

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}
p {
  font-size: 0.8rem;
}
li {
  list-style: none;
}
nav {
  display: grid;
  grid-template-columns: 50% 50%;
}

nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

body {
  min-height: 100vh;
  background: rgba(8, 8, 8, 0.919);
  color: var(--color1);
}
.header {
  display: grid;
  grid-template-columns: 50% 50%;
  align-content: center;
}

h1 {
  font-size: 5rem;
}
.header-left-container h3 {
  color: var(--color2);
  font-size: 1.8rem;
}
.header-right {
  width: 50%;
}
#modem {
  width: 100%;
}
.infos {
  display: grid;
  grid-template-columns: 33% 67%;
  background: black;
  border-radius: 10px;
}

.btn-container {
  display: grid;
  grid-template-rows: 33% 33% 33%;
}
button {
  margin: 5px;
  border-radius: 10px;
  background: var(--color2);
  font-weight: bold;
  cursor: pointer;
  width: 150px;
  padding: 10px;
  letter-spacing: 1px;
  margin: 5px;
  color: var(--color1);
  display: block;
}
.investors {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  align-items: center;
  height: 86%;
}
.img-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.img-container img {
  height: 60px;
}
/* *****************MEDIA QUERIES**************** */

@media screen and (max-width: 820px) {
  h1 {
    font-size: 2.5rem;
  }

  .header-left-container h3 {
    font-size: 1.3rem;
  }
  p {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 592px) {
  nav {
    grid-template-columns: 35% 65%;
  }
  nav ul {
    font-size: 0.7rem;
  }

  .header {
    display: block;
  }

  .infos {
    display: block;
    text-align: center;
  }
  button {
    margin: 5px auto;
  }
  .img-container img {
    height: 33px;
  }
}
