@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
:root {
  --color1: whitesmoke;
  --color2: rgb(57, 2, 208);
}

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}
li {
  display: block;
  padding: 13px;
  list-style: none;
}
p {
  font-size: 0.8rem;
}
body {
  min-height: 100vh;
  background: rgba(8, 8, 8, 0.919);
  color: var(--color1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
h2 {
  padding: 10px;
}
nav ul {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-around;
  margin: 30px auto;
}
.header-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
h1 {
  font-size: 5rem;
}
.header-left-container h3 {
  color: var(--color2);

  font-size: 1.8em;
}
.header-right {
  width: 50%;
}
#modem {
  width: 100%;
}

.infos {
  display: flex;
  background: black;
  border-radius: 10px;
}
.infos-left {
  width: 33%;
}
.btn-container {
  display: flex;
  flex-direction: column;
  width: 35%;
  justify-content: space-around;
}
button {
  margin: 5px;
  border-radius: 10px;
  background: var(--color2);
  font-weight: bold;
  cursor: pointer;
  width: 150px;
  padding: 10px;
  letter-spacing: 1px;
  margin: 5px;
  color: var(--color1);
}
.infos-right {
  width: 67%;
}
.infos-right h3 {
  text-align: left;
}
.investors {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}
.img-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.img-container img {
  height: 60px;
}
